<!DOCTYPE html>
<html ng-app="gstaketracker">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/datejs/date.js"></script>
    </head>
    <body>
        <div ng-controller="MainController">
            Start Time: <input type="input" ng-model="startTime"  ng-change="process()" /><br />
            Hours to Work: <input type="number" ng-model="hours"  ng-change="process()" /><br />
            Taking Meal: <input type="checkbox" ng-model="meal"  ng-change="process()" /><br />
            Target Take Rate: <input type="input" ng-model="targetTakeRate"  ng-change="process()" /><br />
            Current Takes: <input type="number" ng-model="currentTakes"  ng-change="process()" /><br /><br />

            <div class="progress">
                <div ng-repeat="(key, take) in takes" class="progress-bar {{ take.class }}" style="width: {{ take.width }}%">
                    {{ key + 1 }}
                </div>
            </div>
            <div class="progress">
                <div ng-repeat="(key, take) in cTakes" class="progress-bar {{ take.class }}" style="width: {{ take.width }}%">
                    {{ key + 1 }}
                </div>
            </div>
        </div>
        <script src="/gs/taketracker/js/app.js"></script>
    </body>
</html>
